{% extends "layout.html" %}
{% block title %}To-Do App{% endblock %}

{% block content %}
  <div class="jumbotron">
    <h1 class="display-4">To-Do App</h1>
    <p class="lead">Just another to-do app.</p>
  </div>
 
  <div class="row">
    <div class="col-md-12">

      {% for status in statuses %}
      <h2>{{status}}</h2>

      <ul>
        {% for item in items %}
        {% if item.status == status %}
        <li>
          <form method="post" action="/change">
            {{ item.title }}
            {% for buttonStatus in statuses %}
            {% if buttonStatus != item.status %}
            <input type="hidden" name="item" value="{{ item.title }}" />
             <input type="submit" name="status" value="{{buttonStatus}}" />
            {% endif %}
          {% endfor %}
        </form>        
      </li>
        {% endif %}
        {% endfor %}
      </ul>

      {% endfor %}
    </div>
  </div>

  <form method="post" action="/add_item">
    <input type="text" id="title" name="title">
    <input type="submit" value="New Item">
  </form>
{% endblock %}