{% extends "layout.html" %}
{% block title %}To-Do App{% endblock %}

{% block content %}
  <div class="jumbotron">
    <h1 class="display-4">To-Do App</h1>
    <p class="lead">Just another to-do app.</p>
  </div>
  <iframe name="hiddenFrame" width="0" height="0" border="0" style="display: none;"></iframe>

  <div class="row">
    <div class="col-md-12">

      {% for status in statuses %}
      <h2>{{status}}</h2>

      <ul class="list-group">
        {% for item in items %}
        {% if item.status == status %}
        <li class="list-group-item">
          <form method="post" action="/">
            {{ item.title }}
            <div class="btn-group" role="group" >
            {% for buttonStatus in statuses %}
              {% if buttonStatus != item.status %}
              <input type="hidden" name="item" value="{{ item.title }}" />
              <input type="submit" name="status" value="{{buttonStatus}}" class="btn btn-info"/>
              {% endif %}
          {% endfor %}
        </div>
      </form>        
      </li>
        {% endif %}
        {% endfor %}
      </ul>

      {% endfor %}
    </div>
  </div>

  <br/>
  <br/>
  <br/>

    <form method="post" action="/add_item">
      <div class="input-group">
        <input type="text" id="title" name="title" class="form-control" >
    <div class="input-group-append">
      <input type="submit" value="New Item" class="btn btn-info">
    </div>
  </div>
</form>
{% endblock %}